:root {
  --font-body: white;
  --background-color: #31434f;
  --primary-color: #172026;
  --second-color: #027373;
  --third-color: #5FCDD9;
  --fourd-color: #04BFAD;
}

* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 50px;
  min-height: 100vh;
  justify-items: end;
  overflow: hidden; /* Elimina el scroll */
}


/* BARRA DE NAVEGACION  */
.nav {
  background-color: var(--primary-color);
  height: 78px;
  border: 1px solid var(--primary-color);
  width: 100%;
}

.title-nav {
  background: linear-gradient(135deg,
      #2a7fff, #0166bf, #218300, #067100);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-size: 60px;
  transition: 3s linear 2s;
  margin-top: -6px;
}

.message {
  color: var(--font-body);
  font-size: 30px;
}

/* CONTENEDOR MAIN */
.main-content {
  background-color: var(--primary-color);
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 50px;

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* El contenido del modal */
.modal-content {
  background-color: var(--background-color);
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  height: 300px;
  border-radius: 15px;
}

.card-form-modal {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--primary-color);
  display: grid;
  width: 600px;
  height: 200px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: start;
  margin-top: 10px;
}

.container-button-index{
  width: 600px;
  height: 60px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}

.button-index{
  height: 40px;
  width: auto;
  text-align: center;
  background-color: rgb(166, 205, 166);
  color: var(--font-body);
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 16px;
}

/* El botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.main-content-form {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}



/*CONTENEDOR DE CARDS INFO-FORM*/
.content-info-form {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  overflow: auto;
  color: var(--font-body);
}

.card-info-form {
  background-color: var(--background-color);
  border-radius: 15px;
  height: 90%;
  width: 90%;
}

.form-inf {
  box-sizing: border-box;
  padding: 18px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 30px 24px 1fr 30px;
  grid-template-areas: "title-inf" "title-inf"
    "title" "title"
    "option" "option"
    "butonc" " butonc-1";
  overflow-y: auto;
  align-items: stretch;
  align-content: center;
  gap: 6px;

}

.title-form-inf {
  grid-area: "title-inf";
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: var(--font-body);
  
}

div .list-des {
  height: 30px;
  width: 90%;
  background-color: white;
  border-radius: 15px;
}

.icon-des {
  color: black;
  margin-left: 20px;
}

.title-option {
  grid-area: "title";
  padding: 6px;
  border-radius: 10px;
  border: none;
  width: 80%;
  height: 16px;
  font-size: 16px;
  background-color: var(--background-color);
  border: 0.2px solid rgba(31, 47, 61, 0.42);
  color: var(--font-body);
}
.title-option::placeholder { 
  color: white; 
}


.option {
  box-sizing: border-box;
  grid-area: "option";
  padding: 2px;
  margin: 2px;
  border-radius: 6px;
  border: none;
  background-color: var(--background-color);
  color: var(--font-body);
  margin: 4px;
  border: 0.5px solid rgba(31, 47, 61, 0.422);
  width: 60%;
  height: 28px;
}

.option::placeholder { 
  color: white; 
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--font-body);
  outline: none;
  position: relative;
  cursor: pointer;
  padding-top: 6px;
}

.checkbox:checked {
  background-color: #007bff;
  /* Color de fondo cuando está seleccionado */
  border-color: #ffffff;
  /* Color del borde cuando está seleccionado */
}

.button {
  grid-area: "butonc";
  height: 30px;
  width: 34%;
  justify-self: right;
  background-color: #75a7b5;
  padding: 2px;
  border-radius: 10px;
  border: none;
  color: var(--font-body);
  font-weight: 600;
  transition: linear 0.5s;
}

.button:hover{
  background-color: var(--background-color);
  border: 0.6px solid rgba(13, 255, 0, 0.422);
}

.button-1 {
  grid-area: "butonc-1";
  height: 30px;
  width: 34%;
  justify-self: right;
  background-color: rgb(166, 205, 166);
  padding: 2px;
  border-radius: 10px;
  border: none;
  color: var(--font-body);
  font-weight: 600;
  transition: linear 0.5s;
}

.button-1:hover{
  background-color: var(--background-color);
  border: 0.6px solid rgba(13, 255, 0, 0.422);
}

.input-text {
  background-color: var(--background-color);
  color: var(--font-body);
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 6px;
  margin: 6px;
  margin-left: 0;
  border: 0.5px solid rgba(31, 47, 61, 0.422);
}

.input-text:focus{
  outline: none;
}

.input-text::placeholder{
  color: var(--font-body);
}


/*CONTENEDOR FORM*/
.formulario-style {
  background-color: var(--primary-color);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 210px 610px;
  justify-items: center;
  text-align: left;
  padding: 2px;
  width: 50%;
  max-height: 900px;
  overflow-x: auto;
  --scrollbar-width: 10px; --scrollbar-height: 0px; --scrollbar-border-radius: 0px; --scrollbar-thumb-color: var(--primary-color); --scrollbar-border-thickness: 0px; 
}
.formulario-style::-webkit-scrollbar { width: var(--scrollbar-width, 20px); height: var(--scrollbar-height, 20px); 
}
.formulario-style::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color, #3B82F6); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); 
}
.formulario-style::-webkit-scrollbar-track { background: var(--scrollbar-track-color, #a1a1aa00); 
}
.formulario-style::-webkit-scrollbar-corner { background: var(--scrollbar-corner-color, #FFFFFF); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); 
}
.formulario-style::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { display: var(--show-double-buttons, none); }




/* CARDS */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 40px;
  justify-items: center;
}

.card {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 120px 1fr 10px;
  width: 400px;
  border-radius: 15px;
  border: 1px solid silver;
  transition: linear 1s;
}

.card:hover {
  scale: 1.1;
  background-color: var(--second-color);
  color: var(--primary-color);
}

.img-cont {
  padding: 5px;
  margin: 5px;
}

.card .img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.card .icon {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-body);
  font-size: 20px;
  z-index: 2;
  transition: linear 0.5s;
}

.icon:hover {
  background-color: var(--primary-color);
  color: var(--font-body);
}


.card .text {
  padding: 5px;
  margin: 5px;
  padding-top: 10px;
  display: inline;
  justify-items: start;
  color: var(--font-body)
}

.text .t-1 {
  font-size: 40px;
}

.text .t-2 {
  font-size: 20px;
}

/* Estilo básico para el ícono */
.icon-options {
  color: var(--font-body);
  font-size: 25px;
  cursor: pointer;
}

/* Estilo para el menú de opciones, oculto por defecto */
.options-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 120px;
  height: auto;
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  border: 1px solid #888888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 1000;
  color: var(--font-body);
  font-size: 20px;
}

.options-menu li {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.options-menu li:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
  color: black
}

.links {
  text-decoration: none;
  color: var(--font-body);
}

/*BOTON DE ADD*/

.icon-add {
  position: fixed;
  bottom: 70px;
  right: 4cqb;
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  color: var(--font-body);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
  transition: linear 1s;
}

.icon-add:hover {
  scale: 1.1;
  background-color: green;
}

/*-----------------------------------------------------------------------------------------------*/

/*Estilo formularios registrar y modificar*/
.content-form {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: var(--font-body);
  font-size: 20px;
  padding: 0px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  align-content: stretch;
}

/*Titulo y boton*/
.title-main {
  box-sizing: border-box;
  height: 50px;
  display: grid;
  grid-template-columns: 50px 1fr;
  text-align: center;
  justify-items: center;

}

.title-option-form {
  text-align: left;
  padding: 20px;
  margin: 20px;
  font-size: 25px;
}

.options-form {
  background-color: var(--background-color);
  color: var(--font-body);
  margin: 10px;
  padding: 5px;
  height: 30px;
  width: auto;
}



.a-back {
  position: fixed;
  position: fixed;
  bottom: 70px;
  right: 4cqb;
  box-sizing: border-box;
  padding: 6px;
  margin: 8px 0px;
  text-decoration: none;
  color: var(--font-body);
  font-size: 15px;
  background-color: var(--primary-color);
  font-weight: 700;
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  transition: linear 0.5s;
}

.a-back:hover {
  background-color: green;
  color: var(--font-body);
}

.a-back-1 {
  position: fixed;
  position: fixed;
  bottom: 120px;
  right: 4cqb;
  box-sizing: border-box;
  padding: 6px;
  margin: 8px 0px;
  text-decoration: none;
  color: var(--font-body);
  font-size: 15px;
  background-color: var(--primary-color);
  font-weight: 700;
  border: 0;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  transition: linear 0.5s;
}

.a-back-1:hover {
  background-color: green;
  color: var(--font-body);
}

.title-form {
  box-sizing: border-box;
  margin: 4px;
  padding: 4px;
}

/*Card de editar*/
.card-form {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--primary-color);
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: start;
}

.img-form {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  margin-left: 5px;
  justify-self: center;
  align-self: center;
}

.input-1 {
  margin: 4px;
  height: 50px;
  width: 300px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--font-body);
  font-size: 40px;
  text-align: left;
}

.input-2 {
  margin: 4px;
  height: 50px;
  width: 300px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--font-body);
  font-size: 20px;
  text-align: start;
}

/*Diseño opciones de info form*/
.contatiner-infoForm{
  height: 100%;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10px 30px 1fr;
  justify-items: center;
}

.form-infoForm{
  justify-items: center;
  padding: 10px;
}

/*Style componente de checkbox*/
.infoForm-checkbox{
  margin: 10px;
  padding: 8px;
  display: grid;
  grid-template-columns: 500px ;
  grid-template-rows: 30px 40px 1fr 30px;
  gap: 10px;
  border: 1px solid #1d272f96;
  border-radius: 10px;
}

.icon-checkbox{
  color: var(--font-body);
  align-items: end;
  display: grid;
  justify-self: end;
  align-self: center;
  text-decoration: none;
}

.title-infoForm{
  height: 30px;
  width: 80%;
  font-size: 26px;
  color: var(--font-body);
  background-color: var(--primary-color);
  border: none;
}
.title-infoForm:focus{
  outline: none;
}

.options-form-infCheck{
  height: 30px;
  width: 60%;
  color: var(--font-body);
  background-color: var(--primary-color);
  border: none;
  font-size: 20px;
}

.button-save{
  background-color: var(--primary-color);
  border: none;
  color: var(--font-body);
  justify-self: end;
  align-self: center;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.option-2 {
  box-sizing: border-box;
  grid-area: "option";
  padding: 2px;
  margin: 2px;
  border: none;
  background-color: var(--primary-color);
  color: var(--font-body);
  margin: 4px;
  width: 60%;
  height: 28px;
  font-size: 18px;
}

.option-2::placeholder { 
  color: white; 
}

.option-2:focus{
  outline: none;
}

.option-form-text{
  background-color: var(--primary-color);
  width: 70%;
  height: 100px;
  color: var(--font-body);
  font-size: 20px;
  border: none;
}



/* FOOTER */
.footer {
  background-color: var(--primary-color);
  position: relative;
  height: 50px;
  width: 100%;
}

.footer p {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: var(--font-body);
  font: 10px;
}