<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Forms/CSS/styles.css' %}">

</head>

<body>

    {% block sidebar %}
    <nav class="nav">
        <h1 class="title-nav">FORMULARIOS DEV</h1>
    </nav>
    {% endblock %}


    <main class="main-content-form">
        <aside class="content-info-form">

            <div class="card-info-form">
                <form class="form-inf" action="{% url 'crearInfoForm1' formulario.id %}" method="POST">
                    {% csrf_token %}
                    <label class="title-form-inf">Seleccion Unica</label>
                    <input type="hidden" id="tipo" name="tipo" value="checkbox">
                    <input class="title-option" type="text" id="titulo" name="titulo" placeholder="Titulo de pregunta">
                    <div id="options-container-1">
                        <div>
                            <input class="checkbox" type="checkbox"><input class="option" type="text" id="opciones" name="opciones" placeholder="Titulo opcion" required>
                        </div>
                    </div>
                    <button type="button" class="button" onclick="agregarOpcion(1)">Agregar Opcion</button>
                    <button class="button-1" type="submit">Agregar Componente</button>
                </form>
            </div>

            <div class="card-info-form">
                <form class="form-inf" action="{% url 'crearInfoForm1' formulario.id %}" method="POST">
                    {% csrf_token %}
                    <label class="title-form-inf">Lista Desplegable</label>
                    <input type="hidden" id="tipo" name="tipo" value="select">
                    <input class="title-option" type="text" id="titulo" name="titulo" placeholder="Titulo de pregunta" required>
                    <div>
                        <select class="option" id="dynamicSelect">
                            <option id="opciones" name="opciones" value="Selecciona una opcion">Selecciona una opción
                            </option>
                        </select>
                    </div>
                    <div class="list-design">
                        <input class="option" type="text" id="newOption" placeholder="Escribe nueva opción">
                    </div>

                    <button class="button" type="button" id="addOption">Agregar opción</button>
                    <button class="button-1" type="submit">Agregar Componente</button>
                </form>
            </div>

            <div class="card-info-form">
                <form class="form-inf" action="{% url 'crearInfoForm1' formulario.id %}" method="POST">
                    {% csrf_token %}
                    <label class="title-form-inf">Campo de Texto</label>
                    <input type="hidden" id="tipo" name="tipo" value="text">
                    <input class="title-option" type="text" id="titulo" name="titulo" placeholder="Titulo de pregunta" required>
                    <input class="input-text" type="text" id="opciones" name="opciones" placeholder="Texto" required>
                    <button class="button-1" type="submit">Agregar Componente</button>
                </form>
            </div>

            <script src="{% static 'Forms/js/form.js' %}"></script>

        </aside>

        <section class="formulario-style">
            <div class="card-form">

                <img class="img-form" src="{% static 'Forms/img/form.png' %}" alt="imagen de formulario">

                <form method="POST" >
                    {% csrf_token %}
                    <input type="hidden" name="updateFormulario" value="true">
                    <input class="input-1" type="text" id="Nombre" name="Nombre" value="{{ formulario.Nombre }}" required>
                    <br>

                    <input class="input-2" type="Descripcion" id="Descripcion" name="Descripcion"
                        value="{{ formulario.Descripcion }}" required>
                    <br>

            </div>


            <button class="a-back-1" type="submit">Guardar</button>
            </form>


            <div class="content-form">
                {% for infoForm in infoForms %}


                {% if infoForm.tipo == 'checkbox' %}
                <div class="container-infoForm">
                    <form method="POST" class="infoForm-checkbox">
                        {% csrf_token %}
                        <input type="hidden" name="updateInfoForm" value="true">
                        <a class="icon-checkbox" href="{% url 'eliminarInfoForm' infoForm.id %}"><i class="fa-regular fa-circle-xmark" title="Eliminar Componente"></i></a>
                        <input type="hidden" name="infoForm_id" value="{{ infoForm.id }}">
                        <input class="title-infoForm" type="text" name="titulo" value="{{ infoForm.titulo }}" required>
                        <div id="opciones-container">
                            {% for opcion in infoForm.opciones %}
                            <div><input class="checkbox" type="checkbox"><input class="option-2" type="text" id="opciones" name="opciones" value="{{ opcion }}" required></div>
                            {% endfor %}
                        </div>
                        <button class="button-save" type="submit"><i class="fas fa-save" title="Guardar Cambios"></i></button>
                    </form>
                </div>



                {% elif infoForm.tipo == 'select' %}
                <div class="container-infoForm infoForm-checkbox">
                    <input type="hidden" name="updateInfoForm" value="true">
                    <a class="icon-checkbox" href="{% url 'eliminarInfoForm' infoForm.id %}"><i class="fa-regular fa-circle-xmark" title="Eliminar Componente"></i></a>
                    <input type="hidden" name="infoForm_id" value="{{ infoForm.id }}">
                    <input class="title-infoForm" type="text" name="titulo" value="{{ infoForm.titulo }}" required>
                    <select class="options-form-infCheck">
                    {% for opcion in infoForm.opciones %}
                        <option class="option-2" value="{{ opcion }}">{{ opcion }}</option>
                    {% endfor %}
                    </select>
                    <button class="button-save" type="submit"><i class="fas fa-save" title="Guardar Cambios" ></i></button>
                </div>

                {% elif infoForm.tipo == 'text' %}
                <div class="container-infoForm">
                    <form method="POST" class="infoForm-checkbox">
                        {% csrf_token %}
                        <input type="hidden" name="updateInfoForm" value="true">
                        <a class="icon-checkbox" href="{% url 'eliminarInfoForm' infoForm.id %}"><i class="fa-regular fa-circle-xmark" title="Eliminar Componente"></i></a>
                        <input type="hidden" name="infoForm_id" value="{{ infoForm.id }}">
                        <input class="title-infoForm" type="text" name="titulo" value="{{ infoForm.titulo }}" required>
                        {% for opcion in infoForm.opciones %}
                        <input class="option-form-text" type="text" id="campoTexto" name="campoTexto" placeholder="Ingresa tu texto aqui" value="{{opcion}}" required>
                        {% endfor %}
                        <button class="button-save" type="submit"><i class="fas fa-save" title="Guardar Cambios"></i></button>
                    </form>
                </div>

                {% endif %}

            {% endfor %}
            </div>

            <div>
                <a href="{% url 'consultarForm' %}"><button class="a-back">Atras</button></a>
            </div>

        </section>

    </main>

    <footer class="footer"></footer>

    <script src="https://kit.fontawesome.com/c628e42b8b.js" crossorigin="anonymous"></script>

</body>
</html>