<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Forms/CSS/styles.css' %}">

</head>

<body>

    {% block sidebar %}
    <nav class="nav">
        <h1 class="title-nav">FORMULARIOS DEV</h1>
    </nav>
    {% endblock %}


    <main class="main-content-form">
        <aside class="content-info-form">

             <div class="card-info-form">
                <form class="form-inf" action="{% url 'crearInfoForm1' formulario.id %}" method="POST">
                    {% csrf_token %}
                    <label class="title-form-inf" >Seleccion Unica</label>
                    <input type="hidden"  id="tipo" name="tipo" value="checkbox">
                    <input class="title-option" type="text" id="titulo" name="titulo" placeholder="Titulo de pregunta">
                    <div id="options-container-1">
                        <div>
                            <input class="checkbox" type="checkbox"><input class="option" type="text" id="opciones" name="opciones" placeholder="Titulo opcion"></div>
                        </div>
                    <button type="button" class="button" onclick="agregarOpcion(1)">Agregar Opcion</button>
                    <button class="button-1" type="submit">Agregar Componente</button>
                </form>
            </div>

            <div class="card-info-form">
                <form class="form-inf" action="{% url 'crearInfoForm2' formulario.id %}" method="POST">
                    {% csrf_token %}
                    <label class="title-form-inf">Lista Desplegable</label>
                    <input type="hidden"  id="tipo" name="tipo" value="select">
                    <input class="title-option" type="text" id="titulo" name="titulo" placeholder="Titulo de pregunta">

                    <div>
                        <select class="option" id="dynamicSelect">
                            <option id="opciones" name="opciones" value="Selecciona una opcion">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="list-design">
                        <input class="option" type="text" id="newOption" placeholder="Escribe nueva opción">
                    </div>
                    
                    <button class="button" type="button" id="addOption">Agregar opción</button>
                    <button class="button-1" type="submit">Agregar Componente</button>
                </form>
            </div>

            <div class="card-info-form">
                <form class="form-inf" action="{% url 'crearInfoForm1' formulario.id %}" method="POST">
                    {% csrf_token %}
                    <label class="title-form-inf">Campo de Texto</label>
                    <input type="hidden"  id="tipo" name="tipo" value="text">
                    <input class="title-option" type="text" id="titulo" name="titulo"
                        placeholder="Titulo de pregunta">
                    <input class="input-text option" type="text" id="opciones" name="opciones" placeholder="Texto">
                    <button class="button-1" type="submit">Agregar Componente</button>
                </form>
            </div> 

            <script src="{% static 'Forms/js/form.js' %}"></script>

        </aside>

        <section class="formulario-style">
            <div class="card-form">

                <img class="img-form" src="{% static 'Forms/img/form.png' %}" alt="imagen de formulario">

                <form method="POST">
                    {% csrf_token %}

                    <input class="input-1" type="text" id="Nombre" name="Nombre" value="{{ formulario.Nombre }}"
                        required>
                    <br>

                    <input class="input-2" type="Descripcion" id="Descripcion" name="Descripcion"
                        value="{{ formulario.Descripcion }}" required>
                    <br>

            </div>


            <button class="a-back-1" type="submit">Guardar</button>

            <button class="a-back-1" type="submit">Guardar</button>
        </form>


        <div class="content-form">
            {% for infoForm in infoForms %}
        
                {% if infoForm.tipo == 'checkbox' %}

                <div>
                    <form>
                        <p class="title-option-form">{{ infoForm.titulo }}</p>
                        <label>
                            <input class="options-form" type="checkbox" name="opcion" value=""> {{ infoForm.opciones }}
                        </label><br>
                    </form>
                </div>

                {% elif infoForm.tipo == 'select' %}

                <div>
                    <p class="title-option-form">{{ infoForm.titulo }}</p>
                    <select class="options-form">
                        <option class="options-form" value="{{ infoForm.opciones }}">{{ infoForm.opciones }}</option>
                    </select>
                </div>

        
                {% elif infoForm.tipo == 'text' %}

                <div>
                    <p class="title-option-form">{{ infoForm.titulo }}</p>
                    <form>
                        <input class="options-form" type="text" id="campoTexto" name="campoTexto" placeholder="Escribe tu respuesta aquí!">
                    </form>
                </div>
        
                {% endif %}
        
            {% endfor %}
        </div>
        
        <div>
            <a href="{% url 'consultarForm' %}"><button class="a-back">Atras</button></a>
        </div>
        

    </section>

    </main>



    <footer class="footer">

    </footer>

    <script src="https://kit.fontawesome.com/c628e42b8b.js" crossorigin="anonymous"></script>



</body>

</html>