<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Forms/CSS/styles.css' %}">

</head>

<body>

    {% block sidebar %}
    <nav class="nav">
        <h1 class="title-nav">FORMULARIOS DEV</h1>
    </nav>
    {% endblock %}

    <main class="main-content-form">

        <aside class="content-info-form">

            <div class="card-info-form">
                <form class="form-inf" action="" method="POST">
                    <label class="title-form-inf">Seleccion Unica</label>
                    <input class="title-option" type="text" id="title-checkbox" name="title-checkbox"
                        placeholder="Titulo de pregunta">
                    <div id="options-container-1">
                        <div><input class="checkbox" type="checkbox"><input class="option" type="text" id="Opcion"
                                name="Opcion" placeholder="Titulo opcion"></div>
                    </div>
                    <button type="button" class="button" onclick="agregarOpcion(1)">Agregar Opcion</button>
                    <button class="button-1">Agregar Componente</button>
                </form>
            </div>

            <div class="card-info-form">
                <form class="form-inf" action="" method="POST">
                    <!-- Título de la lista -->
                    <label class="title-form-inf">Lista Desplegable</label>

                    <!-- Entrada para el título de la pregunta -->

                    <input class="title-option" type="text" id="title-list" name="title-list"
                        placeholder="Titulo de pregunta">


                    <!-- Contenedor para el select y los inputs -->
                    <div>
                        <!-- Lista desplegable (select) -->
                        <select class="option" id="dynamicSelect">
                            <option value="">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="list-design">
                        <input class="option" type="text" id="newOption" placeholder="Escribe nueva opción">
                    </div>

                    <button class="button" type="button" id="addOption">Agregar opción</button>
                    <button class="button-1">Agregar Componente</button>
                </form>
            </div>

            <div class="card-info-form">
                <form class="form-inf" action="" method="POST">
                    <label class="title-form-inf">Campo de Texto</label>
                    <input class="title-option" type="text" id="title-text" name="title-text"
                        placeholder="Titulo de pregunta">
                    <input class="input-text option" type="text" id="input-text" name="input-text" placeholder="Texto">
                    <button class="button-1">Agregar Componente</button>
                </form>
            </div>

            <script src="{% static 'Forms/js/index.js' %}"></script>

        </aside>


        <section class="formulario-style">
            <div class="card-form">
                <img class="img-form" src="{% static 'Forms/img/form.png' %}" alt="imagen de formulario">
                <form method="POST">
                    {% csrf_token %}
                    <input class="input-1" type="text" id="Nombre" name="Nombre" placeholder="Titulo">
                    <br>
                    <input class="input-2" type="text" id="Descripcion" name="Descripcion" placeholder="Descripcion">
                    <br>
            </div>

            <button class="a-back-1" type="submit">Guardar</button>
            </form>


            <div class="content-form">
                <div>
                    <form>
                        <p class="title-option-form">Titulo pregunta</p>
                        <label>
                            <input class="options-form" type="checkbox" name="opcion1" value="opcion1"> Opción 1
                        </label><br>
                        <label>
                            <input class="options-form" type="checkbox" name="opcion2" value="opcion2"> Opción 2
                        </label><br>
                        <label>
                            <input class="options-form" type="checkbox" name="opcion3" value="opcion3"> Opción 3
                        </label><br>
                    </form>

                </div>

                <div>
                    <p class="title-option-form">Titulo pregunta</p>
                    <select class="options-form">
                        <option class="options-form" value="opcion1">Opción 1</option>
                        <option class="options-form" value="opcion2">Opción 2</option>
                        <option class="options-form" value="opcion3">Opción 3</option>
                    </select>
                </div>



                <div>
                    <p class="title-option-form">Titulo pregunta</p>
                    <form>
                        <input class="options-form" type="text" id="campoTexto" name="campoTexto"
                            placeholder="Escribe tu respuesta aqui!">
                    </form>
                </div>

            </div>

            <div>
                <a href="{% url 'consultarForm'%}"><button class="a-back">Atras</button></a>
            </div>

        </section>

    </main>

    <footer class="footer">
        <p>footer</p>
    </footer>

    <script src="https://kit.fontawesome.com/c628e42b8b.js" crossorigin="anonymous"></script>


</body>

</html>