<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Forms/CSS/styles.css' %}">
</head>

<body>
    {% block sidebar %}
    <nav class="nav">
        <h1 class="title-nav">FORMULARIOS DEV</h1>
    </nav>
    {% endblock %}


    <main class="main-content">

        <section class="cards">
            {% for formulario in formularios %}
            <div class="card">
                <div class="img-cont">
                    {% load static %}
                    <img class="img" src="{% static 'Forms/img/form.png' %}" alt="Imagen de Formulario">
                    <a class="icon" href="{% url 'editarForm' formulario.id %}"><i class="fa-solid fa-pencil"></i></a>
                </div>

                <div class="text">
                    <p class="t-1">{{ formulario.Nombre }}</p>
                    <p class="t-2">{{ formulario.Descripcion }}</p>
                </div>

                <div>
                    <i class="fa-solid fa-ellipsis-vertical icon-options" title="Opciones" onclick="toggleMenu()"></i>
                    <ul id="optionsMenu" class="options-menu">
                        <a class="links" href="{% url 'editarForm' formulario.id %}">
                            <li>Editar</li>
                        </a>
                        <a class="links" href="{% url 'eliminarForm' formulario.id %}">
                            <li>Eliminar</li>
                        </a>
                    </ul>
                </div>
            </div>
            {% empty %}
            <h3 class="message">No hay formularios disponibles.</h3>
            {% endfor %}
        </section>


        <a id="openModalBtn" href="javascript:void(0)" class="icon-add" title="Crear Formulario" onclick="openModal()">
            <i class="fa-solid fa-plus"></i>
          </a>
          
          <!-- El Modal -->
          <div id="myModal" class="modal" {% if show_modal %} class="modal show" {% else %} class="modal" {% endif %}>
              <div class="modal-content">
                  <span class="close" onclick="closeModal()">&times;</span>
                  <div class="card-form-modal">
                      <img class="img-form" src="{% static 'Forms/img/form.png' %}" alt="imagen de formulario">
                      <form method="POST" action="{% url 'crearForm' %}">
                          {% csrf_token %}
                          <input class="input-1" type="text" id="Nombre" name="Nombre" placeholder="Titulo" required>
                          <br>
                          <input class="input-2" type="text" id="Descripcion" name="Descripcion" placeholder="Descripcion" required>
                          <br>
                  </div>
                  <div class="container-button-index"><button class="button-index" type="submit">Crear Formulario</button></div>
                </form>
              </div>
          </div>

    </main>

    <footer class="footer">

    </footer>

    <script src="https://kit.fontawesome.com/c628e42b8b.js" crossorigin="anonymous"></script>
    <script src="{% static 'Forms/js/index.js' %}"></script>

</body>

</html>